@{
    <h1>Contact Hallonbåt</h1>

}
<form action="/Contact/ContactMe" method="post">

    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Your name..">

    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
        <option value="sweden">Sweden</option>
        <option value="denmark">Denmark</option>
        <option value="norway">Norway</option>
    </select>

    <label for="emaila">Email</label>
    <input type="text" id="emaila" name="emaila" placeholder="Your email..">

    <button>Send</button>

</form>

<footer>See all contact requests here: <a asp-action="ContactRequests" asp-controller="Contact">Contact Requests</a></footer>
