@{
    <h1>Hallon's skills</h1>
    <p>Below is a list of the different skills Hallon has.</p>
    <ul>
    <li>Restoration</li>
    <li>Enchantment</li>
    <li>Herbalism</li>
    <li>Inscription</li>
    </ul>
}
